

{% extends 'master.html' %}
{% load static %}
{% block content %}
<div class="container" style="width:100%;">
  <div class="title-container">
    <h2 style="margin: 0;">Hop Inventory</h2>
    <div class="button-container">
      <button class="btn btn-light mb-3"id="add-hop-btn" onclick="toggleForm()" >Add Hop</button>
    </div>
  </div>
  <div class="form-container">
    <form class="inventory" id="add-hop-form" method="POST" style="display:none;">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="pellet">Pellet:</label>
        <input type="checkbox" name="pellet">
        <label for="alpha" >Alpha % :</label>
        <input type="number" name="alpha" step="0.1">
        <label for="producer">Producer:</label>
        <input type="text" name="producer">
        <label for="quantity">Quantity (g):</label>
        <input type="number" name="quantity" step="0.1">
        <label for="cost">Cost EUR/100g:</label>
        <input type="number" name="cost" step="0.01"><br>
        <button class="btn btn-light" type="submit">Add hop</button>
    </form>
  </div>
    <script>
        function toggleForm() {
          var form = document.getElementById("add-hop-form");
          var btn = document.getElementById("add-hop-btn");
          if (form.style.display === "none") {
            form.style.display = "block";
            btn.innerHTML = "Hide";
          } else {
            form.style.display = "none";
            btn.innerHTML = "Add hop";
          }
        }
    </script>
     
    
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Pellet</th>
        <th>Alpha</th>
        <th>Producer</th>
        <th>Quantity (g)</th>
        <th>Cost</th>
        <th>Remove</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for hop in hops %}
        <tr>
          <td>{{ hop.name }}</td>
          <td>{{ hop.pellet }}</td>
          <td>{{ hop.alpha }} % </td>
          <td>{{ hop.producer }}</td>
          <td>{{ hop.quantity }} g</td>
          <td>{{hop.cost}} EUR/100g</td>
          <td>
            <form action="{% url 'remove_hop' hop.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm" type="submit">Remove</button>
              </form>
        </td>
        <td>
          <form action="{% url 'edit_hop' hop.id %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-info btn-sm" type="submit">Edit</button>
          </form>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
