
{% extends 'master.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="title-container">
    <h2 style="margin: 0;">Malt Inventory</h2>
    <div class="button-container">
      <button class="btn btn-light mb-3"id="add-malt-btn" onclick="toggleForm()" style="background-color:#F4D790; margin-left:10px; border: black" >Add Malt</button>
    </div>
  </div>
  <div class="form-container" >
    <form class="inventory" style="display:none;" id="add-malt-form" method="POST" >
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="type">Type:</label>
        <input type="text" name="type">
        <label for="ebc">EBC:</label>
        <input type="number" name="ebc">
        <label for="producer">Producer:</label>
        <input type="text" name="producer">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" step="0.1">
        <label for="cost">Cost EUR/kg:</label>
        <input type="number" name="cost" step="0.01">
        <button class="btn btn-light" style="background-color:#F4D790;  border: black"type="submit">Add Malt</button>
    </form>
  </div>
    <script>
        function toggleForm() {
          var form = document.getElementById("add-malt-form");
          var btn = document.getElementById("add-malt-btn");
          if (form.style.display === "none") {
            form.style.display = "block";
            btn.innerHTML = "Hide";
          } else {
            form.style.display = "none";
            btn.innerHTML = "Add Malt";
          }
        }
    </script>
  <table style="background-color = transparent;margin: 0 auto;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>EBC</th>
        <th>Producer</th>
        <th>Quantity (kg)</th>
        <th>Cost</th>
        <th>Remove</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for malt in malts %}
        <tr>
          <td>{{ malt.name }}</td>
          <td>{{ malt.type }}</td>
          <td>{{ malt.ebc }}</td>
          <td>{{ malt.producer }}</td>
          <td>{{ malt.quantity }} kg</td>
          <td>{{malt.cost}} EUR/kg</td>
          <td>
            <form action="{% url 'remove_malt' malt.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm" type="submit"style="">Remove</button>
              </form>
        </td>
        <td>
            <form action="{% url 'edit_malt' malt.id %}" method="GET">
              {% csrf_token %}
              <button class="btn btn-info btn-sm" type="submit">Edit</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
