
{% extends 'master.html' %}
{% load static %}
{% block background_image %}{% static 'images/background-recipe.jpg' %}{% endblock %}

{% block content %}
<div class="container">
<div class="title-container">
  <h2 style="margin: 0;">Malt Inventory</h2>
  <div class="button-container">
    <button class="btn btn-light mb-3"id="add-recipe-btn" onclick="toggleForm()" style="background-color:#F4D790; margin-left:10px; border: black" >Add Recipe</button>
  </div>
</div>
    <form class="inventory0" id="add-recipe-form" method="POST" style="display:none;">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-light" type="submit">Add Recipe</button>
  </form>
    <script>
        function toggleForm() {
          var form = document.getElementById("add-recipe-form");
          var btn = document.getElementById("add-recipe-btn");
          if (form.style.display === "none") {
            form.style.display = "block";
            btn.innerHTML = "Hide";
          } else {
            form.style.display = "none";
            btn.innerHTML = "Add Recipe";
          }
        }
    </script>
     
    
  
  <table>
    <thead>
      <tr>
        <th class ="recipeth">Name</th>
        <th class ="recipeth">Type</th>
        <th class ="recipeth">Volume (L)</th>
        <th class ="recipeth">ABV (%)</th>
        <th class ="recipeth">EBC</th>
        <th class ="recipeth">IBU</th>
        <th class ="recipeth">Cost (EUR) </th>
        <th class ="recipeth">Sale(EUR)</th>
        <th class ="recipeth">Status</th>
        <th class ="recipeth">Likes</th>
        <th class ="recipeth">Remove</th>
        <th class ="recipeth">Edit</th>
        <th class ="recipeth">Details</th>
        
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
        <tr>
          <td class ="recipetd">{{ recipe.name }}</td>
          <td class ="recipetd">{{recipe.family}}</td>
          <td class ="recipetd">{{ recipe.volume }}</td>
          <td class ="recipetd">{{ recipe.alcool|floatformat:1 }}</td>
          <td class ="recipetd">{{ recipe.ebc|floatformat:1 }}
            <span class="ebc-color-{{ recipe.id }}"></span>
            <style>
              .ebc-color-{{ recipe.id }} {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
                border-radius: 50%;
                background-color: #ffcc00;
              }
            </style>
            <script>
              var ebc = {{ recipe.ebc }};
              var ebcColor = getEbcColor(ebc);
              var ebcColorSpan = document.querySelector('.ebc-color-{{ recipe.id }}');
              ebcColorSpan.style.backgroundColor = ebcColor;
          
              function getEbcColor(ebc) {
                if (ebc < 8) {
                  return "#F3F993"; // pale straw
                } else if (ebc < 12) {
                  return "#F5F56B"; // straw
                } else if (ebc < 20) {
                  return "#F7EA38"; // pale gold
                } else if (ebc < 30) {
                  return "#F0D020"; // deep gold
                } else if (ebc < 40) {
                  return "#E0B040"; // amber
                } else if (ebc < 50) {
                  return "#D07000"; // copper
                } else if (ebc < 80) {
                  return "#A05000"; // dark copper
                } else if (ebc < 120) {
                  return "#703010"; // brown
                } else {
                  return "#501800"; // dark brown
                }
              }
            </script>
          </td>
          
          <td class ="recipetd">{{ recipe.ibu|floatformat:1}}</td>
          <td class ="recipetd">{{ recipe.cost }}</td>
          <td class ="recipetd">{{ recipe.sale }}</td>
          <td class ="recipetd">{% if recipe.private%}Private{% else %}Public{% endif %}</td>
          <td class ="recipetd">{{ recipe.Likes.count }}</td>  
          <td class ="recipetd">
            <form action="{% url 'remove_recipe' recipe.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm" type="submit">Remove</button>
              </form>
        </td>
        <td class ="recipetd">
          <form action="{% url 'edit_recipe' recipe.id %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-info btn-sm" type="submit">Edit</button>
          </form>
        </td class ="recipetd">
        <td class ="recipetd">
          <form action="{% url 'recipe_detail' recipe.id %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-info btn-sm" type="submit">Details</button>
          </form>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
    
 
    

