{% extends 'master.html' %}
{% load static %}
{% block background_image %}{% static 'images/background-recipe.jpg' %}{% endblock %}
{% block content %}
<h1>{{ recipe.name }}</h1>
<p>{{ recipe.description }}</p>
<form method="POST" action="{% url 'like_recipe' recipe.id %}" class="float-right">
    {% csrf_token %}
    <button class="btn btn-info like-button " href="like_recipe" type="submit">
    {% if user.is_authenticated %}
        {% if is_liked == True %}
            Unlike
        {% else %}
            Like
        {% endif %}
    {% endif %}
    </button>
</form>
<table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Volume (L)</th>
        <th>ABV (%)</th>
        <th>EBC</th>
        <th>IBU</th>
        <th>Likes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{recipe.family}}</td>
          <td>{{ recipe.volume }}</td>
          <td>{{ recipe.alcool|floatformat:1 }}</td>
          <td>{{ recipe.ebc|floatformat:1 }}
            <span class="ebc-color"></span>
            <style>
                .ebc-color {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                    border-radius: 50%;
                    background-color: #ffcc00; 
            </style>
            <script>
                var ebc = {{ recipe.ebc }}; 
                var ebcColor = getEbcColor(ebc); 
                var ebcColorSpan = document.querySelector('.ebc-color');
                ebcColorSpan.style.backgroundColor = ebcColor;
                function getEbcColor(ebc) {
                    if (ebc < 8) {
                        return "#F3F993"; // pale straw
                      } else if (ebc < 12) {
                        return "#F5F56B"; // straw
                      } else if (ebc < 20) {
                        return "#F7EA38"; // pale gold
                      } else if (ebc < 30) {
                        return "#F0D020"; // deep gold
                      } else if (ebc < 40) {
                        return "#E0B040"; // amber
                      } else if (ebc < 50) {
                        return "#D07000"; // copper
                      } else if (ebc < 80) {
                        return "#A05000"; // dark copper
                      } else if (ebc < 120) {
                        return "#703010"; // brown
                      } else {
                        return "#501800"; // dark brown
                      }
                }
            </script>
          <td>{{ recipe.ibu|floatformat:1}}</td>
          <td >{{ recipe.Likes.count }}
             
            </td>

            

      
      

        </tr>
    </tbody>
  </table>
<h2>Malts</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>EBC</th>
            <th>Producer</th>
            <th>Quantity (kg)</th>
        </tr>
    </thead>
<tbody>
    {% for malt in malts %}
    <tr>
        <td>{{ malt.stockMalt.name }}</td>
        <td>{{ malt.stockMalt.type }}</td>
        <td>{{ malt.stockMalt.ebc }}</td>
        <td>{{ malt.stockMalt.producer }}</td>
        <td>{{ malt.quantity }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<h2>Brewings</h2>
<table>
    <thead>
        <tr>
            <th>Temperature (°C)</th>
            <th>Time (min)</th>
        </tr>
    </thead>
<tbody>
    {% for brewing in brewings %}
    <tr>
        <td>{{ brewing.temperature }}</td>
        <td>{{ brewing.time }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<h2>Boiling and Dry Hopping</h2>
<table>
    <thead>
        <tr>
            <th>DryHopping</th>
            <th>Time (minutes/days)</th>
            <th>Hops</th>
            <th>Extras</th>
        </tr>
    </thead>
<tbody>
    {% for boiling in boilings %}
    <tr>
        <td>{% if boiling.cool%}Yes{% else %}no{% endif %}</td>
        <td>{{ boiling.time }}</td>
        <td>
            <ul>
                {% for hop in boiling.Hops.all %}
                    <li>{{ hop.stockHop.name }} - {{ hop.quantity }}g -  {{ hop.stockHop.alpha }}%</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for extra in boiling.Extras.all %}
                    <li>{{ extra.stockExtra.name }} - {{ extra.quantity }}kg</li>
                {% endfor %}

            </ul>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>


<h2>Yeasts</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity (doses)</th>
        </tr>
    </thead>
<tbody>
    {% for yeast in yeasts %}
    <tr>
        <td>{{ yeast.stockYeast.name }}</td>
        <td>{{ yeast.quantity|floatformat:"0" }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<h2>Fermentation</h2>
<table>
    <thead>
        <tr>
            <th>Temperature</th>
            <th>Time (days)</th>
        </tr>
    </thead>
<tbody>
    {% for fermentation in fermentations %}
    <tr>
        <td>{{ fermentation.temperature }}</td>
        <td>{{ fermentation.time }}</td>
        
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}